@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}

body {
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  margin-right: 3rem;
}

#name-change {
  margin: 3rem 0 1rem 0;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50px;
  height: 2.5rem;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
#name-change::placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  font-size: 1.5rem;
}
#name-change:focus {
  border: none;
}

#confirm {
  border-radius: 50px;
  height: 2rem;
  width: 40%;
  border: none;
  font-size: 1.2rem;
}
#confirm:hover {
  cursor: pointer;
}

.date-temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 2rem 0;
}

h1 {
  letter-spacing: 4px;
  align-self: center;
  border-bottom: 2px solid white;
}

#temp-container {
  display: flex;
  margin: 0 0 0.5rem 1rem;
  position: relative;
  right: 0;
}

#temp-num {
  top: 0;
  font-size: 2rem;
  margin-right: 3px;
}

#temp-refresh {
  background: transparent;

  border: none;
  position: relative;
  bottom: -30px;
  right: 8px;
}
#temp-refresh:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.spin {
  animation-name: spin;
  animation-duration: 400ms;
  animation-iteration-count: 2;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.clock {
  display: flex;
  align-items: center;
  font-size: 4rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem 1rem 1rem 0.5rem;
  border: 3px solid white;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 20px 30px -1px;
}

#am-pm {
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 0.2rem;
  margin-right: 0.2rem;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.number {
  border: 2px solid white;
  padding: 0.3rem 1rem;
  margin: 0.3rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
}

h2 {
  font-size: 5rem;
  font-family: 400;
  margin-top: 3rem;
  padding: 1rem;
  letter-spacing: 1px;
  text-align: center;
}

.morning-village {
  background-image: url("../img/morning-village.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.afternoon-stream {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url("../img/afternoon-stream.jpg");
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.night-street {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../img/night-street.jpg");
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.moon {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("../img/moon.jpeg");
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ====================
    RESPONSIVE
   ==================== */

@media screen and (max-width: 730px) {
  form {
    align-self: center;
    margin-right: 0;
  }
  .date-temp {
    margin-top: 5rem;
  }
  .clock {
    transform: scale(0.75);
  }
  h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
  }
}
