@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  color: white;
}

h1 {
  letter-spacing: 4px;
  margin: 5rem 0 2rem 0;
  border-bottom: 2px solid white;
}

.clock {
  display: flex;
  align-items: center;
  font-size: 4rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem 1rem 1rem 0.5rem;
  border: 3px solid white;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 20px 30px -1px;
}

#am-pm {
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 0.2rem;
  margin-right: 0.2rem;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.number {
  border: 2px solid white;
  padding: 0.3rem 1rem;
  margin: 0.3rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
}

h2 {
  font-size: 5rem;
  font-family: 400;
  margin-top: 3rem;
  padding: 1rem;
  letter-spacing: 1px;
  text-align: center;
}

.morning-village {
  background-image: url("../img/morning-village.jpg");
  background-position: center;
  background-size: cover;
  transition: all 1s;
}
.afternoon-stream {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url("../img/afternoon-stream.jpg");
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  transition: all 1s;
}
.night-street {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../img/night-street.jpg");
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  transition: all 1s;
}
.moon {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("../img/moon.jpeg");
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  transition: all 1s;
}

/* ====================
    RESPONSIVE
   ==================== */

@media screen and (max-width: 730px) {
  /* h2 {
    font-size: rem;
  } */
}
@media screen and (max-width: 730px) {
  h1 {
    margin-top: 10rem;
  }
  .clock {
    transform: scale(0.75);
  }
  h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
  }
}
